.black{
    background-image: url(imagenes/fondo1.jpg);
    }
body {
background:transparent url(http://3.bp.blogspot.com/_WoCJXgXotb8/SrrsY0G_3FI/AAAAAAAAAAU/FGOXZBwWs0k/s1600/bodybg-5.gif) repeat scroll 0 0;
font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
font-size:12px;
line-height:1.4em;
color:#d8d8d8;
text-align:center;
}    

a{
color: #F60   
}
#titulo{
text-align: center;

}
.fondo{
background-color: gray 
}
.box{
border: dotted 1px red
}
.negro{
background-color: black
}

.nature {
display:block;
width:150px;
height:150px;
background:url(Aburrido.gif) no-repeat;
cursor:pointer;
position:relative}


.widget-content {
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
background: #515151 url(http://2.bp.blogspot.com/_WoCJXgXotb8/Srrsc8rWNSI/AAAAAAAAABc/yq8azkr5zv4/s1600/widgetbg-1.png) repeat-x scroll left bottom;
border-bottom: 1px solid 1d1d1d;
border-left: 1px solid 1d1d1d;
border-right: 1px solid 1d1d1d;
padding: 10px;
position: relative;